@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #2f4f4f;
}
h1 {
  text-align: center;
  font-size: 3rem;
  width: 100%;
  font-weight: 400;
  /* font-family: 'Inconsolata', monospace;; */

  color: rgb(212, 160, 92);
}

hr {
  border-width: 0;
  height: 2px;
  margin-top: 10px;
  color: rgb(212, 160, 92);
  background-color: rgb(212, 160, 92);
}

/* bootstrap css */

.accordion-button {
  color: rgb(212, 160, 92);
  text-align: center !important;
}
.accordion-item {
  color: rgb(212, 160, 92);
}


